<script></script>
<!-- Header -->
<html>
  <head>
    <title>Teste FrontEnd Alta-AI</title>
  </head>
  <body class="body">
    <div class="toolbar" role="banner">
      <img
        width="50"
        alt="Alta AI favicon"
        src="http://aai-frontend-interview-mock-data.s3-website-sa-east-1.amazonaws.com/assets/favicon.png"
      />
      <td>
        <tr>
          Teste de Desenvolvedor Front-End - Anota AI
        </tr>
        <tr id="username">
          ― Dimitri Fernandes Gaulia ―――
        </tr>
      </td>
    </div>
    <hr />
    <div class="search">
      <form>
        <input (change)="filtrar(filtro.value)" #filtro type="text" />
      </form>
    </div>
    <div class="content" role="main">
      <section class="flex">
        <div class="item" *ngFor="let item of items">
          <a class="boxclose" id="boxclose" (click)="remover(item)"></a>
          <img class="image" src="{{ item.img }}" />
          <div class="image">
            <h1>{{ item.title }}</h1>
            <p class="crop">{{ item.description }}</p>
          </div>
        </div>
      </section>
    </div>
    <br />
  </body>
</html>
