<script>

</script>
<!-- Header -->
<div class="toolbar" role="banner">
  <img
    width="50"
    alt="Alta AI favicon"
    src="http://aai-frontend-interview-mock-data.s3-website-sa-east-1.amazonaws.com/assets/favicon.png"
  />
  <td>
    <tr>Teste de Desenvolvedor Front-End - Anota AI</tr>
    <tr id="username"> ― Dimitri Fernandes Gaulia ――― </tr>
  </td>
</div>

<div><br></div>
<br>
<br>
<br>
<div><br></div>
<div><br></div>
<div><br></div>


<div class="card-container" *ngFor="let item of items">
  <div class="card">

<img src="{{item.img}}" width="100" height="100">
  </div>
</div>

